@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

body {
  padding-top: 5rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

img.responsive {
  max-width: 100%;
  height: auto;
}
